---
import {getProjects, getRecentWriting } from '../content.api.ts'
import BaseLayout from '../layouts/BaseLayout.astro'

const writing = await getRecentWriting()
const apps = await getProjects('app')
const devops = await getProjects('devops')
const dx = await getProjects('dx')
const webdev = await getProjects('webdev')
---

<BaseLayout>
    <h1>Eighty4.tech</h1>
    <h2>Projects</h2>
    <h3>Apps</h3>
    <ul>
        {apps.map(app => (
            <li>
                <a href={app.data.website}>{app.data.name}</a>
            </li>
        ))}
    </ul>
    <h3>Devops</h3>
    <ul>
        {devops.map(app => (
            <li>
                <a href={app.data.repository}>{app.data.name || app.data.slug}</a>
            </li>
        ))}
    </ul>
    <h3>Dx</h3>
    <ul>
        {dx.map(app => (
            <li>
                <a href={app.data.repository}>{app.data.name || app.data.slug}</a>
            </li>
        ))}
    </ul>
    <h3>Webdev</h3>
    <ul>
        {webdev.map(app => (
            <li>
                <a href={app.data.repository}>{app.data.name || app.data.id}</a>
            </li>
        ))}
    </ul>
    {!!writing.length &&
        <h2>Writing</h2>
        <ol>
            {writing.map(piece => (
                <li>
                    <a href={`/content/${piece.id}`}>{piece.data.title}</a>
                </li>
            ))}
        </ol>
    }
</BaseLayout>
